body {
	background-color: #739beb;
	/*background-image: url("http://www.transparenttextures.com/patterns/carbon-fibre.png");*/
}
h2	{ 
  background-color: #EEE;
}
div	{ 
  display: none;  
  font-size: 20px;
  font-style: bold;
}
	h2:hover + div   { display:  	   block   }
	body 	         { margin-bottom: 120px    }
	h2:first-letter,
	p:first-letter   { text-transform: uppercase; }

	